[settings]
experimental = true

[tools]
deno = "2.0.0"

[tasks."check:format"]
run = """
#!/usr/bin/env sh

set -ex

deno fmt --check
"""

[tasks."check:lint"]
run = """
#!/usr/bin/env sh

set -ex

deno lint
deno check --no-lock $(find . -type f | grep -E "\\.ts$|\\.tsx$" | grep -v "node_modules/")
"""
