[settings]
experimental = true

[tools]
deno = "2.1.1"

[tasks."check:format"]
run = """
#!/usr/bin/env sh

set -ex

deno fmt --check
"""

[tasks."check:lint"]
run = """
#!/usr/bin/env sh

set -ex

deno lint
deno check $(find . -type f | grep -E "\\.ts$|\\.tsx$" | grep -v "node_modules/")
"""
